
.button{
        padding: 10px;
        border: 1px solid;
        border-radius: 25px;
        width: 60%;
        background: #9c4dcd;
        color: white;
        font-size: 0.8em;
        outline: none;
}

   