<div id='loginPage' fxLayoutAlign="center center" fxLayout='column' style="padding:30px 0;">
  <div fxLayout='row' fxLayoutAlign="center center" class="avatarLogin">
    <span>
      <i class="fas fa-user"></i>
    </span>
  </div>
  <div fxLayout='column' fxLayoutAlign='center center'>
    <form #loginForm='ngForm' (ngSubmit)='onSubmit(loginForm)' fxLayoutAlign='center center' fxLayout='column'>
      <app-input type="text" name="userName" id="userName" ngModel placeholder="Ex. Keith Franklin" error="Enter a valid user name"
        required>
        User Name:
      </app-input>
      <app-input type="password" name="password" id="password" ngModel placeholder="Password" error="Enter a valid password" required>
        Password:
      </app-input>
      <app-checkbox name="remember" ngModel>
        Remember Me
      </app-checkbox>
      <div>
        <a routerLink="/signup">Forgot Password</a>
      </div>
      <div class="Button">
        <button type="submit" [disabled]="!loginForm.valid">Log in</button>
      </div>
    </form>
    <div class="Button">
      <button routerLink="/signup">Sign Up</button>
    </div>
  </div>
</div>

<app-list></app-list>
<!-- <app-modal visible='true'>
  <app-add-tform></app-add-tform>
</app-modal> -->