<div fxLayoutAlign="center center" fxLayout='column' style="padding:30px 0;">
  <div fxLayout='row' fxLayoutAlign="center center" class="avatarLogin">
    <span>
      <i class="fas fa-user"></i>
    </span>
  </div>

  <form #loginForm='ngForm' (ngSubmit)='onSubmit(loginForm)' fxLayout='column' fxLayoutAlign='center center'>
    <div>
      <label for="userName">User Name:</label>
      <input type="text" name="userName" id="userName" ngModel placeholder="Ex. Keith Franklin" required>
      <div class="errorMessage"> Enter a valid user name</div>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" ngModel placeholder="Password" required>
      <div class="errorMessage"> Enter a valid password</div>
    </div>
    <div class='custom-checkbox'>
      <input type='checkbox' name="remember" ngModel />
      <label>
        <span></span>
        Remember Me
      </label>
    </div>
    <div>
      <a routerLink="/signup">Forgot Password</a>
    </div>
    <div class="Button">
      <button type="submit" [disabled]="!loginForm.valid">Log in</button>
    </div>
    <div class="Button">
        <button routerLink="/signup">Sign Up</button>
      </div>
  </form>
</div>