<div fxLayout="column" id="addForm">
    <h2 style="width:100%;">Add Transaction form.</h2>
    <div fxLayout="column">
        <form #addTrans='ngForm' id="addTransaction" (ngSubmit)="addTransaction(addTrans)">
            <div fxLayout='row' style="margin-bottom: -50px">
                <app-radio fxFlex='50' name='type' [(ngModel)]='type' id='credit' radioValue='credit' required>Credit</app-radio>
                <app-radio fxFlex='50' name='type' [(ngModel)]='type' id='debit' radioValue='debit'>Debit</app-radio>
            </div>
            <app-input2 [errorToggle]="addTrans.form.controls.Ammount" id='Amount' type="number" name='Amount' ngModel placeholder="Amount"
                required></app-input2>
            <app-select style="margin:5px;" [options]='bankAccount' placeholder="Select Account" [(ngModel)]='acc' name='acc' id='acc'></app-select>
            <ng-datepicker name='date' [(ngModel)]="date" [options]='options'></ng-datepicker>
            <!-- Category Selector -->
            <div fxLayout='row wrap' class="categoryContainer">
                <h5 fxFlex="100%">Category</h5>
                <ul fxLayout='row wrap' fxLayoutGap='20px' fxLayoutAlign="center" fxFlex='100%'>
                    <li fxLayout='column' fxLayoutAlign="center center" *ngFor="let category of categoryList" fxFlex="50px" class="categoryButton"
                        [id]='category' [ngClass]="{'clicked':category == categorySelected}" (click)='categorySelected = category'>
                        <img *ngIf="category != categorySelected" [src]='"./assets/icons/"+category+".svg"' alt="" style="height: auto;width: 25px;padding:12px;margin: 20px 0px 10px;">
                        <img *ngIf="category == categorySelected" [src]='"./assets/icons/"+category+"White.svg"' alt="" style="height: auto;width: 25px;padding:12px;margin: 20px 0px 10px;">
                        <span class="label">{{category|titlecase}}</span>
                    </li>
                </ul>
            </div>
            <!-- End of Category selector -->
            <app-toggle style="margin:5px;" id='overide' placeholder="Overide bank balance" [(ngModel)]='overide' name='overide'>
                Overide bank balance
            </app-toggle>
            <app-input2 *ngIf="overide" id='Balance' type="text" name='Balance' ngModel placeholder="Update Current Balance"></app-input2>
            <app-toggle style="margin:5px;" id='showMap' placeholder="" [(ngModel)]='showMap' (click)="locationLogic()" name="showMap">
                Add Location
            </app-toggle>
            <div class="container" *ngIf="showMap==true">
                <div class="form-group">
                    <app-input2 [errorToggle]="addTrans.form.controls.address" id='test' autocorrect="off" autocapitalize="off" spellcheck="off"
                        type="text" class="form-control" #search name="address" ngModel></app-input2>
                </div>
                <agm-map (mapClick)="placeMarker($event)" style="height: 250px;" mapTypeId="roadmap" [mapDraggable]='true' [panControl]='true'
                    [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
                    <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
                </agm-map>
            </div>
            <div fxLayout='row'>
                <div class="Button">
                    <button type="submit" [disabled]="!validateForm(addTrans)">Add Transaction</button>
                </div>
                <div class="Button">
                    <button type="reset" (click)="close.emit(false)">Cancel</button>
                </div>
            </div>
        </form>

    </div>
</div>