<!-- <div fxLayout="row" fxFlex=100>
  <div fxLayout="column" fxFlex="30" fxLayoutAlign="center center" *ngFor="let icon of iconName; let i=index">
      <i class="material-icons" (click)="test(i)" [ngClass]="{'homeChange':selected[i]}">{{icon}}</i>
  </div>
</div> -->

<div fxLayout="row" fxFlex=100>
  <div fxLayout="column" fxFlex="30" fxLayoutAlign="center center" *ngFor="let icon of iconName; let i=index">
      <i [class]="icon" (click)="tabSelect(i)" [ngClass]="{'homeChange': selected[i]}" aria-hidden="true"></i>
  </div>
</div>

