<div fxLayoutAlign="center center" fxLayout='column' style="padding:30px 0;">
  <div fxLayout='row' fxLayoutAlign="center center" class="avatarLogin">
    <span>
      <i class="fas fa-user-plus"></i>
    </span>
  </div>
  <form #signup="ngForm" (ngSubmit)="onSubmit(signup)" fxLayout='column' fxLayoutAlign="center center">
    <app-input type="text" name="userName" id="userName" ngModel placeholder="Ex. Keith Franklin" error="Enter a valid user name"
      required>
      User Name:
    </app-input>
    <app-input type="password" name="password" id="password" ngModel placeholder="Password" [error]="passwordError" required [errorToggle]='errorToggle'>
      Password:
    </app-input>
    <app-input type="password" name="rePassword" id="rePassword" ngModel placeholder="Confirm password" [error]="passwordError" (keyup)="matchCheck(signup)"
    required [errorToggle]='errorToggle'>
      Password:
    </app-input>
    <br>
    <div class="Button">
      <button type="submit" [disabled]="!signup.valid">signup</button>
    </div>
  </form>
</div>