/* You can add global styles to this file, and also import other style files */
// body{
//     margin: 0;

// }
html ,
body{
    height: 100%;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}



.Button {
    margin: 5px;
    width: 100%;
}

.Button button {
    padding: 15px;
    border: 1px solid;
    border-radius: 25px;
    width: 100%;
    background: #9c4dcd;
    color: white;
    font-size: 1.1em;
    outline: none;
}

.Button button:hover {
    background: white;
    color: #9c4dcd;
    cursor: pointer;
}

.Button button:focus {
    outline: none;
}

.Button button:active {
    box-shadow: inset 0px -3px #453446;
}
.Button button:disabled,
.Button button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

