<app-nav-bar (open)="onOpen($event)"></app-nav-bar>

<div style="margin:5px;min-height:100%;">
    <router-outlet></router-outlet>
</div>


<app-sidenav [@slideInOut]="menuState" (open)="onOpen($event)" (close)="onClose($event)" (scan)="scanMsgs()"></app-sidenav>
<div *ngIf="menuState=='out'" class="overlay" (click)='onClose($event)'></div>

<!-- called on phone to trigger sms search -->
<app-scan-confirm [smsConfirmVisible]="smsConfirmVisible" [modalVisable]="smsConfirmVisible" (modalState)="closeScan()"></app-scan-confirm>