:host {
    background: #1a2580;
    color: #fff;
    position: fixed;
    right: auto;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20%;
    min-width: 250px;
    z-index: 9999;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

ul {
    font-size: 18px;
    line-height: 3;
    font-weight: 400;
    padding: 0px;
    padding-top: 50px;
    list-style: none;
}
ul li{
    text-align: center;
}
ul li.active{
    background: #2d377d;
}
ul li:hover{
    background: #2d377d;
    cursor: pointer;
}
li a{
    color: inherit;
    text-decoration: inherit;
}
.swipe-area {
    position: absolute;
   // width: 50px;
    left: 250px;
    top: 60px;
    height: 100%;
    background: transparent;
    z-index: 0;
}
